.bluetext {
    color: rgb(0, 81, 255);
}

.table {
    border-collapse: collapse;
    border: 3px solid black;
}

.table tr:nth-child(even) td:nth-child(even) {
    background-color: black;
    color: black
}

.table tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
    color: black
}

.table tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
    color: white
}

.table tr:nth-child(odd) td:nth-child(even) {
    background-color: white;
    color: white
}

.table, td {
    padding: 40px;
}